<div class="captcha_container">
<div class="container">
    <input id="button" type="submit" value="Join Forum" />
 </div>


<div class="captcha" hidden>
  <h4>Wait! Before we proceed to the forum lets play a game! Please input the frequency of the words in</h4>
  <h4>"<%= text%>"</h4>
  <% if exclude.length > 0 %>
    <% str = "" %>
    <% exclude.each do |word|%>
      <% if word == exclude.last && exclude.length != 1%>
        <% str += " " + "and" + " " + word %>
      <%elsif exclude.length == 1%>
        <% str += " " + word%>
      <% else %>
        <% str += " "+ word + "," %>
      <%end%>
   <%end%>
   <h4>but please ignore ignore the words <%= str %></h4>
 <%end%>
 </div>

 <form method="post" action="/" hidden>
   <input type="hidden" value='<%=text%>' name="text" />
   <input type="hidden" value='<%=exclude%>' name="exclude" />
   <input type="hidden" value='<%=word_frequency%>' name="word_frequency" />
   <label for="word-count"> <input type="number" value="Number of Words" name="user_input"></label>
   <br></br>
   <input type="submit" value="submit">
 </form>
 </div>

 <h5 id="message" hidden></h5>
